
/* ----- variables BEGIN ----- */

:root {
  --navigation-bg-color: #3c3f41;
  --primary-text-color: #CCC;
}


/* ----- variables END ----- */


/* ----- HTML components BEGIN ----- */

body {
  background: var(--navigation-bg-color) !important;
}

a {
  color: #5c8fe1;
}

a:visited {
  color: #ba6cff;
}

p {
  color: var(--primary-text-color);
}

h1 {
  color: var(--primary-text-color);
}

h2 {
  color: var(--primary-text-color);
}

code {
  background-color: #a3a3a3;
  border: none;
}

li {
  color: #848984;
}

textarea {
  background-color: #161616;
  color: #CCC;
}

td {
  background-color: #3f3f3f;
  color: var(--primary-text-color);
}

dt {
 color: var(--primary-text-color);
}

fieldset {
  color: var(--primary-text-color);
}

/* ----- HTML components BEGIN ----- */

/* ----- Table of content ----- */

.toc {
  background-color: #1e1f22;
  color: var(--primary-text-color);
}

.toctogglelabel {
  color: #758ce5;
}

/* ----- Vector Components ----- */

.vector-menu-portal .vector-menu-content li a {
  color: #7aa9c5;
}

.vector-menu-portal .vector-menu-content li a:visited {
  color: #ae93e1;
}

.vector-menu-portal .vector-menu-heading {
 color: var(--primary-text-color);
}

.vector-menu-tabs-legacy li {
  background: #3f3f3f;
  border: 1px solid var(--primary-text-color);
}

.vector-menu-tabs-legacy .selected {
  background: var(--primary-text-color);
  border: 1px solid #AAA;
}

.vector-menu-tabs-legacy li a {
  color: #5c8fe1;
}

.vector-menu-tabs, .vector-menu-tabs a, #mw-head .vector-menu-dropdown .vector-menu-heading {
  background-image: none;
}

/* ----- main search BEGIN ----- */

.vector-search-box-input {
  background-color: rgb(0, 0, 0, 0.5);
  color: var(--primary-text-color);
}

.searchButton[name='go'] {
  background: no-repeat center / 1.23076923em var(--primary-text-color); url(/skins/Vector/resources/common/images/search.svg?bbf78);
}

/* ----- main search END ----- */

/* nav bar top edge */
#p-personal {
  background-color: var(--navigation-bg-color);
}

/* nav bar icons */ 
.oo-ui-icon-bell, .mw-ui-icon-bell:before {
  background-color: var(--primary-text-color);
  padding-top: '0.5rem';
}

.oo-ui-icon-tray, .mw-ui-icon-tray:before {
  background-color: var(--primary-text-color);
  padding-top: '0.5rem';
}

#pt-notifications-notice .mw-echo-notifications-badge, #pt-notifications-alert .mw-echo-notifications-badge {
  top: -3px;
}


table.wikit tr:nth-child(even) td {
  background-color: #181818;
  color: var(--primary-text-color);
}

div#content {
  background-color: #1e1f22;
  color: var(--primary-text-color);
}


/* ----- Main Page BEGIN ----- */

#hs3-container h1, #hs3-container h2 {
  color: var(--primary-text-color);
}

.hs3-item {
  background-color: rgba(50, 50, 50, 0.85);
  color: var(--primary-text-color);
  border: 1px solid #7575754d;
}

#hs3-bg1 {
  background: url(https://wiki-de.guildwars2.com/images/c/c9/Orkansch%C3%BCtze_Konzeptkunst.jpg), #1e1f22;
  background-blend-mode: multiply;
}

#hs3-bg2 {
 background: url(https://wiki-de.guildwars2.com/images/5/51/Beschw%C3%B6rer_Konzeptkunst.jpg), #1e1f22;
  background-blend-mode: multiply;
}

/* ----- Main Page END ----- */

.mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd {
  color: #817e7e;
}

.mw-body {
  background-color: #1e1f22;
}

.mw-body h3 {
  color: var(--primary-text-color);
}

.mw-footer {
  background-color: #1e1f22;
}

.catlinks {
  background-color: #191a1a;
}

table.wikit > *:first-child > tr:first-child > th {
  background-color: #51516d;
  color: #CCC;
}

table.wikit th {
  background-color: #51516d !important;
  color: var(--primary-text-color);
}

/* ----- event timer BEGIN ----- */
#event-wrapper.toptimes .event-bar-container.t .event-time {
  color: var(--primary-text-color);
}

.event-limit-text {
  background: #676767 !important;
}

/* ----- event timer END ----- */

.mwe-popups .mwe-popups-container {
  background: var(--navigation-bg-color);
}

.mwe-popups .mwe-popups-extract {
  color: var(--primary-text-color);
}

.mwe-popups .mwe-popups-extract[dir='ltr']:after {
  background-image: none;
}

.mw-ui-icon .mw-ui-icon-element .mw-ui-icon-small .mw-ui-icon-settings {
  color: var(--primary-text-color);
}

.mw-ui-icon-small:before {
  color: var(--primary-text-color);
}

.navleiste > tbody > tr > th > div {
  background: #383549 !important;
}


/* ----- german wiki classes ----- */

.infobox-kopf {
  color: black;
}
